/Calico/obj
/Calico/bin
/packages
/.vs/Calico/FileContentIndex/33167567-b67e-4cf6-af01-62e99ac9a409.vsidx
/.vs/Calico/FileContentIndex/dc2d2538-fd80-41ad-9be2-03076c1a4941.vsidx
/.vs/Calico/FileContentIndex/de7784c4-9e97-4751-9b5d-7fff9379017a.vsidx
/.vs/Calico/FileContentIndex/f581ae6c-6e4d-4edf-8255-9d83a57a164e.vsidx
/.vs/Calico/FileContentIndex/f6baf5f9-fceb-46c0-8c8b-2cb2da86aff8.vsidx
/.vs/Calico/v17/.suo
/.vs/Calico/v17/DocumentLayout.json
